<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form style="background-color: rgb(240, 240, 240); padding: 16px">
        <p>Nama :</p>
        <input type="text" v-model="inputMember.name" :disabled="uploadState" />
        <p>Alamat :</p>
        <input
          type="text"
          v-model="inputMember.address"
          :disabled="uploadState"
        />
        <p>Nomor Handphone :</p>
        <input
          type="text"
          v-model="inputMember.no_hp"
          :disabled="uploadState"
        />
        <p></p>
        <input type="file" v-if="uploadState" name="pp" ref="pp" />
        <p></p>
        <input
          type="button"
          value="SUBMIT"
          v-if="!(editState || uploadState)"
          v-on:click="addMember"
        />
        <input
          type="button"
          value="UPDATE"
          v-if="editState"
          v-on:click="updateMember"
        />
        <input
          type="button"
          value="CANCEL"
          v-if="editState"
          v-on:click="cancel"
        />
      </form>
      <br />
      <div>
        <component
          is="member-card"
          v-for="m in members"
          :key="m.id"
          :m="m"
          :url="url"
          @delete-member="deleteMember"
          @upload-photo="uploadPhoto"
          @edit-member="editMember"
        >
        </component>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./index.js" type="module"></script>
  </body>
</html>
