<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <div>
        <input type="text" name="input" v-model:value="input" />
        <button v-if="addValue" v-on:click="add">Add</button>
        <button v-if="!addValue" v-on:click="update">Update</button>
      </div>
      <ul v-for="(u,i) in users">
        <li>
          {{u.name}} <button v-on:click="edit(i)">Edit</button> ||
          <button v-on:click="remove(i)">Delete</button>
        </li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          input: "",
          i: null,
          addValue: true,
          users: [
            { name: "Muhammad Iqbal Mubarok" },
            { name: "Ruby Purwanti" },
            { name: "Faqih Muhammad" },
          ],
        },
        methods: {
          add: function () {
            if (this.input != "") {
              this.users.push({ name: this.input });
              this.input = "";
            }
          },
          edit: function (i) {
            this.addValue = false;
            this.input = this.users[i].name;
            this.i = i;
          },
          update: function () {
            if (this.input != "") {
              this.addValue = true;
              this.users[this.i].name = this.input;
              this.input = "";
              this.i = null;
            }
          },
          remove: function (i) {
            if (confirm("Anda Yakin ?")) {
              this.users.splice(i, 1);
            }
          },
        },
      });
    </script>
  </body>
</html>
