<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>
        <div v-for="(c, i) in comments" style="margin: 32px 0px;">
          <button v-on:click="upVote(i)">+</button>
          <p>{{ c.title }} || {{ c.date }} || Score : {{ c.score }}</p>
          <button v-on:click="downVote(i)">-</button>
          <p></p>
        </div>
      </div>
      <textarea v-model="tmp" @keyup.enter="addComment"></textarea>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          tmp: "",
          comments: [
            {
              title: "Initial Comment",
              date: "5/8/2021",
              up: false,
              down: false,
              score: 8,
            },
          ],
        },
        methods: {
          addComment: function () {
            const d = new Date();
            console.log(this.tmp);
            this.comments.push({
              title: this.tmp,
              date: d.toLocaleDateString(),
              up: false,
              down: false,
              score: 0,
            });
            this.tmp = "";
          },
          upVote: function (i) {
            if (!this.comments[i].up) {
              this.comments[i].score++;
              this.comments[i].up = true;
            } else {
              this.comments[i].score--;
              this.comments[i].up = false;
            }
          },
          downVote: function (i) {
            if (this.comments[i].down) {
              this.comments[i].score++;
              this.comments[i].down = false;
            } else {
              this.comments[i].score--;
              this.comments[i].down = true;
            }
          },
        },
      });
    </script>
  </body>
</html>
